<!-- <div>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"><h5>Todos</h5></a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary|secondary|success|danger|warning|info|light|dark">Item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary|secondary|success|danger|warning|info|light|dark disabled">Disabled item</a>
  </div>
</div> -->
<div>
    <div class="list-group" href="#">
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
        <h5>Todos</h5>
      </a>
      <a  class="list-group-item list-group-item-action list-group-item-primary|secondary|success|danger|warning|info|light|dark" *ngFor="let item of todo">{{item.title}}</a>
      <!-- <a href="#" class="list-group-item list-group-item-action list-group-item-primary|secondary|success|danger|warning|info|light|dark disabled">Disabled item</a> -->
      <!-- <a  class="list-group-item list-group-item-action list-group-item-primary|secondary|success|danger|warning|info|light|dark" [(ngModule)]='title'>{{ title }}</a> -->
    </div>
</div> 