<div>

  <div class="container">
    <h1>{{ title }}</h1>>
    <h5>{{ body }}</h5>
    <p>
      <b>Comments: </b>
    </p>
    <div class="widget-area no-padding blank">
      <div class="status-upload">
        <form>
          <textarea placeholder="What are you doing right now?" style="width: 1080px; height:80px"></textarea>
          <br/>
          <button type="submit" class="float-lg-right btn btn-success green">
            <i class="fa fa-share"></i>Comments</button>
        </form>
      </div>
    </div>
    <!-- Widget Area -->
  </div>
  <div class="tab1">
    <i>
      <time datetime="2014-12-16T01:05">Dec 16, 2014</time>
    </i>
    <small class="pull-right">Have 45 comments</small>
    <div class="comments-list">
      <div class="media">
        <p class="pull-right"></p>
        <a class="media-left" href="#">
          <img src="http://lorempixel.com/40/40/people/1/">
        </a>
        <div class="media-body">

          <h4 class="media-heading user_name">Baltej Singh</h4>
          Wow! this is really great.

          <p>
            <small>
              <a href="">Like</a> -
              <a href="">Share</a>
            </small>
          </p>
        </div>
      </div>
      <div class="media">
        <p class="pull-right"></p>
        <a class="media-left" href="#">
          <img src="http://lorempixel.com/40/40/people/2/">
        </a>
        <div class="media-body">

          <h4 class="media-heading user_name">Baltej Singh</h4>
          Wow! this is really great.

          <p>
            <small>
              <a href="">Like</a> -
              <a href="">Share</a>
            </small>
          </p>
        </div>
      </div>
      <div class="media">
        <p class="pull-right"></p>
        <a class="media-left" href="#">
          <img src="http://lorempixel.com/40/40/people/3/">
        </a>
        <div class="media-body">

          <h4 class="media-heading user_name">Baltej Singh</h4>
          Wow! this is really great.

          <p>
            <small>
              <a href="">Like</a> -
              <a href="">Share</a>
            </small>
          </p>
        </div>
      </div>
      <div class="media">
        <p class="pull-right"></p>
        <a class="media-left" href="#">
          <img src="http://lorempixel.com/40/40/people/4/">
        </a>
        <div class="media-body">

          <h4 class="media-heading user_name">Baltej Singh</h4>
          Wow! this is really great.

          <p>
            <small>
              <a href="">Like</a> -
              <a href="">Share</a>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>